<dom-module id="custom-input">

  <template>
    <div>
        <p>Your name is: {{firstName}}</p>
        <input type="text" value="{{firstName::input}}"/>
    </div>

  </template>

  <script>
    class CustomInput extends Polymer.Element {
      static get is() { return "custom-input"; }

      static get properties() {
        return {
          firstName: {
            type: String,
            observer: "_firstNameObserver"
          }
        }
      }

      _firstNameObserver(newValue) {
        console.log(`New value is ${newValue}`);
      }
    }

    customElements.define(CustomInput.is, CustomInput);
  </script>

</dom-module>